:root{
    --dark: #202020;
    --grey: #9ea3a1;
    --dark_grey: #505050;
    --yellow: #f5cb5c;
}
::-webkit-scrollbar {
    width: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Recursive', sans-serif;
}

body{
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

header{
    top: 0;
    padding: .7rem 2rem;
    background-color: var(--dark);
    color: var(--grey);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}

h2{
    color: var(--yellow);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

i{
    cursor: pointer;
    transition: .3s ease-in-out;
}
i:hover{
    color:var(--yellow);
    text-shadow: 0 0 3px rgba(245, 203, 92, .5);
}

.hor_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tools{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.tools select{
    border-radius: 5px;
    background-color: var(--dark_grey);
    color: var(--grey);
    border: none;
    text-align: center;
    font-size: .95rem;
}

main{
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cell{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem 0;
}

.colorTools{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: .3s ease-in-out;
}

.cell:hover .colorTools{
    visibility: visible;
    opacity: 1;
}

.colorInfo{
    text-align: center;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    color: var(--grey);
    padding: 0.2rem 0;
}

footer a{
    text-decoration: none;
    color: var(--yellow);
}

.right-menu{
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    visibility: hidden;
    background-color: var(--dark);
    box-shadow: 0 0 10px rgba(32,32,32,.5);
    transition: .5s ease-in-out;
    transform: translateX(100%);
}

._active{
    visibility: visible;
    transform: translateX(0px);
    width: 400px;
}

.rm-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    color: var(--grey);
    padding: 1rem;
}

@media (max-width: 768px) {
    .hor_menu{
        padding: 1.5rem 0 0 0;
        justify-content: center;
    }
    .hor_menu p{
        display: none;
    }
    .tools{
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1.25rem;
        gap: 1rem;
    }
    .tools label{
        display: none;
    }
    .tools select{
        font-size: 1rem;
    }
    .fa-expand{
        display: none;
    }
    .container{
        flex-direction: column-reverse;
    }
    .cell{
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .colorTools{
        flex-direction: row;
    }
    ._active{
        width: 100%;
    }
    .rm-header{
        font-size: 1.5rem;
    }
}