:root{
    --dark: #202020;
    --grey: #9ea3a1;
    --dark_grey: #505050;
    --yellow: #f5cb5c;
}
::-webkit-scrollbar {
    width: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Recursive', sans-serif;
}

body{
    box-shadow: 0 2px 10px rgba(32, 32, 32, .5);
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    top: 0;
    padding: .7rem 2rem;
    background-color: var(--dark);
    color: var(--grey);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: var(--yellow);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.hor_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tools{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.tools i{
    transition: .3s all ease-in-out;
}

.tools i:hover{
    color:var(--yellow);
    text-shadow: 0 0 3px rgba(245, 203, 92, .5);
}

.tools select{
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--grey);
    border: none;
}

main{
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cell{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    color: var(--grey);
    padding: 0.2rem 0;
}

footer a{
    text-decoration: none;
    color: var(--yellow);
}